 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-size: 16px;
   font-family: sans-serif;
}

body, html{
   height: 100%;
}

:root{
   --hoverColor: #13bbfc;
}

header{
   height: 3rem;
   background-color: black;
   color: #fff;
}

a{
   text-decoration: none;
   color: #fff;
}

li{
   list-style: none;
}

.active{
   height: 20rem;
}

.flex-menu{
   display: flex;
   justify-content: space-between;
   height: 3rem;
   align-items: center;
}

.info-mobile{
   padding: 1rem 0 1rem 0;
   
}

.mobile-logo{
   margin-left: 5px;
}

.icon{
   cursor: pointer;
   margin-right: 5px;
}

.mobile-menu a{
   display: block;
   padding: 0 0 1.5rem 0;
}

.mobile-menu  li{
   padding-left: 20px;
  
}

.mobile-menu li:hover{
   background-color: var(--hoverColor);
}


.desktop{
   display: none;
   justify-content: space-between;
   align-items: center;
   height: 3rem;
}

.more{
   height: 3rem;
   display: flex;
   align-items: center;
}


@media (min-width:600px){
   
   .mobile-menu{
      display: none;
   }

   .desktop{
      display: flex;
      
   }

   .desktop .content{
      display: none;
   }

   .desktop .info{
      display: flex;
   }

   .desktop .info li{
      padding: 10px 10px;
   }

   .desktop .info li:hover{
      background-color: var(--hoverColor);
   }
   
   .more{
      padding: 20px;
      
   }

   .more:hover{
      background-color: var(--hoverColor);
      .submenu{
         display: block;
      }
   }

   nav .mini-content{
      display: block;
   }
   
   nav .submenu{
      background-color: black;
      display: none;
      position: absolute;
      width: 200px;
      right: 0;
   }

   nav .mini-content:hover  .submenu{
      display: block;
      padding: 10px;
   }
   .submenu li{
      padding: 10px;
   }


   .submenu li:hover{
      background-color: var(--hoverColor);
   }
   .icon{
      margin-left: 5px;
   }


 
}

@media (min-width:800px){
   

   nav .mini-content{
      display: none;
   }

   .desktop .content{
      display: flex;
   }
   .desktop .content li{
      padding: 10px;
      position: relative;
      
   }
   .desktop .content li:hover{
      background-color: var(--hoverColor);
      
   }
   .desktop .info{
      position: relative;
      left: 50px;
   }
   

} 
